.wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .container {
    text-align: center;
    width: 100%;
    max-width: 700px;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 30px;

    h1 {
      font-size: 20px;
      color: #418C35;
      align-items: center;
      margin-bottom: 15px;
    }

    a.botao {
      margin: 5px 2px  0;
      padding: 10px;
      height: 44px;
      background: #BF2011;
      color: #fff;
      font-weight: bold;
      border: 0;
      border-radius: 4px;
      font-size: 14px;
      transition: background 0.2s;

      &:hover {
        background: rgb(173, 22, 8);
        color: #fff;

      }
    }
  }
}
